*{
    margin: 0;
    padding: 0;
}

body {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 350px;
    height: 600px;
    border: 1px solid blue;
}

.top-side{
    width: 100%;
    height: 55%;
    border: 1px solid rgb(28, 221, 115);
}

.bottom-side{

}
